<h1>Search</h1>

<%= render "search" %>

<% if @accounts.size > 0 %>

<p class="results">Results for search '<%= @search[:term] %>'</p>

<%= render "results" %>

<% else %>
<p>No results found for search '<%= @search[:term] %>'</p>
<% end %>